---

- name: Install PostgreSQL
  hosts: database
  gather_facts: false

  roles:
    - common
    - telegraf-node
    - postgresql
    - wp-db-setup-postgresql

- name: Install MariaDB
  hosts: database
  gather_facts: false

  roles:
    - common
    - telegraf-node
    - mariadb
    - wp-db-setup

- name: Install Wordpress
  hosts: web
  gather_facts: false

  roles:
    - common
    - telegraf-node
    - php-fpm
    - nginx
    - wordpress
    - wordpress-plugins

- name: Install HAProxy
  hosts: loadbalancer
  gather_facts: false

  roles:
    - common
    - telegraf-node
    - haproxy

- name: Install InfluxDB
  hosts: metrics
  gather_facts: false

  roles:
    - common
    - influxdb
    - grafana

- name: Install Web front
  hosts: front
  gather_facts: false
  roles:
    - common
    - nginx
    - telegraf-node
    - control-front

- name: Setup master host
  hosts: masterhost
  roles:
    - telegraf-host
